<app-my-header name="Lab №7"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Лабараторна робота №7</ion-card-title>
      <ion-card-subtitle
        >Виконала студентка Юлія Беженар, група КН-32</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>Сервіси</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      1. Розробити сервіс для табулювання функції відповідно до варіанту
      <br />2. Розробити сервіс для розрахунку значень функції за допомогою ряду
      відповідно до варіанту <br />3. Розробити сервіс для розрахунку значень
      функції за допомогою рекурсії відповідно до варіанту <br />4. Розробити
      сервіс для логування обчислених значень у консоль та використати його у
      попередніх трьох сервісах <br />5. У основному застосунку підключити
      сервіси, вивести результати усіх розрахунків та побудувати графіки для
      усіх обрахунків.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="../../assets/img/task.png" alt="img" />
    <ion-card-header>
      <ion-card-title>Варіант завдання</ion-card-title>
      <ion-card-subtitle
        >Функція, ряд та діапазон аргументу, надані за
        варіатном.</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input
          label="Xn"
          labelPlacement="floating"
          placeholder="Enter Xn:"
          type="number"
          #InputXn
          value="0.1"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="Xk"
          labelPlacement="floating"
          placeholder="Enter Xk:"
          type="number"
          #InputXk
          value="3.14"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input
          label="H"
          labelPlacement="floating"
          placeholder="Enter H:"
          type="number"
          #InputH
          value="0.1"
        ></ion-input>
      </ion-item>
      <ion-button
        expand="block"
        fill="outline"
        color="primary"
        shape="round"
        (click)="ras(InputXn.value, InputXk.value, InputH.value)"
        >Розрахувати</ion-button
      >
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Результати</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <canvas #lineCanvas></canvas>
      <ion-list>
        <ion-item *ngFor="let item of xyInput | keyvalue">
          <ion-label>
            <h5>{{item.key}}</h5>
            <h5>{{item.value}}</h5>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
