<app-my-header name="Lab №8"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Лабараторна робота №8</ion-card-title>
        <ion-card-subtitle
          >Виконала студентка Юлія Беженар, група КН-32</ion-card-subtitle
        >
      </ion-card-header>

      <ion-card-content>Реактивні форми</ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Завдання</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        1. Розробити компонент який буде вміщувати динамічну реактивну форму
        відповідно до варіанту.
        <br />2. Передбачити у формі можливість додавання та видалення певних
        полів під час виконання. <br />3. Провести валідування ведених у форму
        значень, як за допомогою списку статичних методів класу Validators.
        <br />4. Створити сервіси для більш точного валідування ведених даних,
        кількість сервісів не менше двох. <br />5. Створити модульні тести для
        перевірки сервісів та функцій для валідування
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Варіант: 1</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Каталог газет: Назва газети, Номер, Дата виходу, Кількість сторінок.
        <br />Інформація, яка додається динамічно: Список статей у випуску
      </ion-card-content>
    </ion-card>
    <!---<app-myform></app-myform>--->
    <app-viewform></app-viewform>
  </ion-content>
</ion-content>
