<app-my-header name="Lab №10"></app-my-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Лабараторна робота №10</ion-card-title>
      <ion-card-subtitle
        >Виконала студентка Юлія Беженар, група КН-32</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>RxJS</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      1. Розробити сервіс для спостерігання за значенням у довіднику, що
      змінюється відповідно до завдання. Довідник необхідно представити у
      вигляді класу.
      <br />2. Розробити клас для збереження списку значень, реалізувавши
      додавання нових значень до списку. <br />3. Розробити клас який пов’язаний
      з попереднім значенням відповідно до завдання. Даний клас повинен мати не
      менше, аніж 5 полів. <br />4. Розробити клас для роботи зі списком
      об’єктів класу вказаного у попередньому пункті. <br />5. У основному
      застосунку реалізувати можливість додавання нових значень у довідник та
      нових значень для класу описаному у пункті. <br /><br />Варіант: 1.
      Довідник посад та список співробітників
    </ion-card-content>
  </ion-card>
</ion-content>
